<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Albums ofLadies who Rocked the 80s </title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>