<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Albums ofLadies who Rocked the 80s </title>
        <link rel="stylesheet" type="text/css" href="/styles/style.css">
    </head>

    <!-- <%- include('./partials/head.ejs') %> -->
  

    <body>
        <%- include('./partials/nav.ejs') %>
     
        <h2>Welcome to the database for the  <%= name %>.</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>