<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
      
        <h2>Welcome to the database for the  <%= name %>.</h2>
    </body><div class="footer">
    <%- include('./partials/foot.ejs') %>
    </div>
</html>