body {
    background-color: rgb(213, 0, 232); 
   
    color: rgb(250, 237, 140); /* White text */
    font-family: 'Arial', sans-serif;
    margin: 0
}
h1{
    font-family: 'Eczar', serif;
    font-size: 70px;
    text-align: center;
    color: rgb(250, 237, 140);
    text-shadow: 4px 2px 4px rgba(36, 7, 162, 0.5);
}

.header {
    background-color: #ffdb4b; 
    padding: 20px;
    text-align: center;
    font-family: 'Eczar', serif;
}

.nav {
    background-color: rgb(160, 10, 186); /* Dark gray navigation bar */
    padding: 15px;
    text-align: center;
    font-family: 'Eczar', serif;
    font-size: 100em;
    justify-content: space-between;
    display: flex;
    border-bottom: 5px solid rgb(250, 237, 140);

}

.nav a {
    color: #fff; /* White links */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.nav a:hover {
    color: #ffcc00; /* Yellow on hover */
}

.container {
    max-width: 1200px;
   
    background-color: aqua;
    padding: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.content-container {
    display: grid;
   
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    text-align: center; 
}


.section {
    background-color: rgb(252, 125, 237); 
    color:white;
    font-family: 'Eczar', serif;
    margin-bottom: 40px;
    justify-content: space-around;
    display: flex;
}

.section h2 {
    color: #ffcc00; /* Yellow section titles */
}

.section p {
    font-size: 18px;
}
.box {
    background-color: rgb(221, 77, 246); /* Dark gray box */
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Eczar', serif;
    /* width: 100px;
    height: 250px; */
    border: solid 5px rgb(91, 207, 172)
}


.footer {
    background-color: rgb(252, 125, 237); 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}

.footer a {
    color: #fff; /* White links in the footer */
    text-decoration: none;
}

.footer a:hover {
    color: #ffcc00; /* Yellow on hover in the footer */
}